#brand-pic {
	height: 35px;
}

.navbar .divider-vertical {
    height: 30px;
    margin-left: 16px;
    margin-right: 15px;
    margin-top: 5px;
    border-top: 20px;
    
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 991px) {
    .navbar .divider-vertical {
    height: 1px;
    margin-left: 3px;
    margin-right: 0px;
    margin-top: 5px;
    border-top: 20px;
    
    border-right: 0px solid #ffffff;
    border-left: 40px solid #ffffff;
	}
}